	<li id="todo_<%= todo.id %>" data-id="<%= todo.id %>" class="list-group-item todo">
		<input class="status" type="checkbox">
		<span style="font-weight:400;padding-right:5px;"><%= todo.name %></span>
		<span class="remove glyphicon glyphicon-remove"></span>
	</li>