<div style="color:white;"class="container ">
	<div class="page-header">
  		<h1>About <small>The Ideas Behind Six Tasks</small></h1>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 font-400">
			<h2>Unclutter</h2>
			<hr>
			<p>
				The GTD time management method proposes that <i>control</i> and <i>perspective</i> are the foundations of time management.
			</p>
			<p>
				To-do lists have the tendency to overwhelm. By obscuring tasks not immediately relevant, and keeping in focus only six tasks at any given time, you optimize your workflow by alleviating the stress of being overwhelmed by all the shit you have to to today. 
			</p>
			<p>
				If you're in school or college and/or are learning large volumes of material over limited time periods, this tool is best used in cohesion with the Pomodoro Technique.
			</p>
		</div>
		<div class="col-md-10 col-md-offset-1 font-400">
			<h2>Refine</h2>
			<hr>
				<p>
					By keeping track of the volume of tasks you're getting done per day/week/time-constant-of-choice, you can figure out what makes you work better, and dismantle what doesn't.
				</p>
		</div>		
	</div>
</div>