<div class="logo">one day</div>

<div id="forgot_password_form" class="sign_forms">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:class => "form-horizontal", :method => :post }) do |f| %>
  <%= devise_error_messages! %>

    <div style="width:100% !important;" class="container">

      <form class="form-signin" role="form">
     <%= f.email_field :email, :placeholder=>'Email', :class=>'form-control', :autofocus => true %>
    
    <button style="margin-top:20px;" type="submit" name="commit" class="btn btn-lg btn-default btn-block btn-outline">Send me reset password instructions</button>
      </form>

    </div> <!-- /container -->
  <% end %>

  <%= render "devise/shared/links" %>
</div>